.estrutura_cadastro{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
    background: #3d3b53;
    color: white;
    border-radius: 15px;

    @media screen and (max-width:1100px) {
        display: block;
        margin-top: 20%;
    }

    form{
        display: flex;
        flex-direction: column;
        margin: 10%;

        .Usuario{
            display: flex;
            flex-direction: column;
            margin-top: 10%;
        }
    
        .Senha{
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            
        }
    
        input{
            padding: 10px;
            width: 400px;
            height: 20px;
            border-radius: 5px;
            
        }
    
        button{
            margin: auto;
            margin-top: 30px;
            width: 20%;
            padding: 5px;
        }

    }

    @media screen and (max-width:1100px) {

        form{
            margin: auto;
            margin-top: 5%;

            .Usuario{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        
            .Senha{
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
        
            input{
                padding: 5px;
                width: 200px;
                height: 20px;
                border-radius: 5px;
                text-align: center; 
            }

            button{
                margin: auto;
                margin-top: 30px;
                width: auto;
                margin-bottom: 5%;
            }
            
        }

    }  
    
   
}